<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Learn Dutch flash cards</title>

    <link type="text/css" rel="stylesheet" href="./dutch.css" />

</head>
<body ng-app="DutchApp" ng-controller="DutchCtrl" ng-cloak>

    <div class="options">

        <fieldset>

            <table cellpadding="3" cellspacing="0" border="0">

                <tbody>

                    <tr>
                        <td><label for="mode">Words:</label></td>
                        <td>
                            <select id="mode"
                                    ng-model="viewService.mode"
                                    ng-options="mode as mode for mode in viewService.modeOptions"></select>
                        </td>
                    </tr>

                    <tr ng-show="viewService.mode == constants.MODES.VERBS">
                        <td><label for="tense">Tense:</label></td>
                        <td>
                            <select id="tense"
                                    ng-model="viewService.tense"
                                    ng-options="tense as tense for tense in viewService.tenseOptions"></select>
                        </td>
                    </tr>

                    <tr>
                        <td><label for="lessonID">Lesson:</label></td>
                        <td>
                            <input id="lessonID"
                                   type="text"
                                   class="lesson"
                                   ng-model="viewService.lessonID" />
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <label>
                                <input type="checkbox"
                                       ng-model="viewService.onlyWrong" />
                                Only words I have negative scores
                            </label>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <!-- put the focus back on the Test Me button after revealing the answer -->
                            <button type="button"
                                    ng-click="cardService.testMe()"
                                    focus-me="viewService.justStarted,viewService.answer">
                                Test me
                            </button>

                        </td>
                    </tr>

                </tbody>

            </table>

        </fieldset>

    </div><!-- .options -->

    <div class="no-words" ng-show="viewService.noWords">
        There are no words available to test.
    </div>


    <div class="user-panel" ng-hide="viewService.noWords">


        <div class="cards" ng-hide="viewService.noWords">
            <div class="card question">
                <span ng-show="viewService.word">
                    <span class="word">{{ viewService.word.english }}</span>
                    <span class="part">{{ viewService.word.getPart() }}</span>
                    <span class="lesson">(Lesson {{ viewService.word.lessonID }})</span>
                </span>
            </div>
            <div class="card answer">
                <span ng-show="viewService.answer"
                      ng-class="{ 'success': viewService.answer.isCorrect , 'failure': viewService.answer.isWrong } ">
                    <span class="word">{{ viewService.answer.word }}</span>
                    <span class="score">
                        today: <span ng-show="viewService.answer.scoreToday.numRight > viewService.answer.scoreToday.numWrong">+</span>{{ (viewService.answer.scoreToday.numRight - viewService.answer.scoreToday.numWrong) | number:0 }}, 
                    </span>
                    <span class="score">
                        all-time: {{ viewService.answer.scoreAllTime.numRight | number:0 }} / {{ viewService.answer.scoreAllTime.numWrong | number:0 }}</>
                    </span>
            </div>
        </div>


        <div class="user-input">

            <!-- focus on the input when the test word changes -->
            <input type="text"
                   ng-model="viewService.guess"
                   class="guess"
                   focus-me="viewService.wordCount"
                   enter-action="cardService.checkAnswer()" />

        </div>

    </div><!-- .user-panel -->


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.js"></script>
    <script src="./dutch.js"></script>

</body>
</html>